@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');

@mixin center {
  text-align: center;
  justify-content: center;
}

body {
  margin: 0%;
  font-family: poppins, sans-serif;
}

.section-title {
  font-size: 3rem;
  padding: 9% 0% 2% 0%;
  margin-top: 0%;
}

#main-nav {
  background-color: #1e1e1e;
  padding: 1.7%;
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.2s;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0% 1%;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: #1e1e1e;
  background: white;
}

section {
  height: 100vh;
}

#intro {
  position: relative;
  overflow: hidden;
}

#homepage-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.overlay {
  @include center;
  color: white;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1%;
  margin-top: 2%;
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

#about {
  @include center;
  color: white;

  p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 1.5% 1%;
    font-weight: 600;
  }
}

.about-content {
  background-color: rgba(128, 128, 128, 0.6);
  margin: 0% 15%;
}

.fixed-bg {
  width: 100%;
  height: 100%;
  min-height: 800px;
  background: url('../assets/binary-background.jpg') fixed center no-repeat;
  background-size: cover;
  z-index: -1;
}

/* ===== CAROUSEL =====*/
#interests {
  @include center;

  .section-title {
    padding-top: 4%;
    margin-bottom: 0%;
  }

  p {
    margin: 0%;
  }

  background-color: #000000;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  padding-top: 3%;
}

/* Hide the images by default */
.carousel {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translate(-50%, -30%);
  padding: 2%;
  color: rgb(127, 127, 127);
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 2em 0 0 2em;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 10%;
  border-radius: 0 2em 2em 0;
}

.prev {
  left: 10%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.carousel-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(128, 128, 128, 0.6);
  border-radius: 3em;
  text-shadow: 0 0 2px #000000;
}

/* The dots/bullets/indicators */
.dot-container {
  padding-bottom: 3%;
}

.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 0.2em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#experience {
  @include center;
  background-color: #28282B;

  .section-title {
    color: white;
    padding-top: 4%;
    margin-bottom: 1%;
  }
}

/*Experience section - Modal*/
#experience-group {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em 7em;
  }

  .column {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    color: black;
    padding: 3em;
    margin: 2%;
    box-shadow: 10px 10px 10px dimgray;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .column:hover {
    background-color: rgb(214, 214, 214);
    box-shadow: 10px 10px 10px white;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
  box-shadow: 10px 10px 10px gray;
  text-align: left;
  h4 {
    margin:0%;
  }
}

#contact {
  @include center;
  height: 50%;

  .section-title {
    padding-top: 5%;
  }
}

#socials {
  margin-bottom:7%;
}

/* "Contact" section font awesome*/
.fa {
  padding: 0.5em 0.6em;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  margin: 1em 1em;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  background: #000000;
  color: white;
}
.fa-envelope {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #f110ae;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}